*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.container{
    width: 100vw;
    min-height: 100vh;
    background-color: #f7fae7;
    padding: 0 40px;

}

.features{
    position: relative;
     cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 110px;
    height: 20px;
    overflow: hidden;

}

.features::after{
    position: absolute;
    content: "";
    width: 90%;
    height: 3px;
    left: 4%;
    bottom: 0;
    background-color: rgb(20, 209, 20);
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
    transform-origin: left;
}

.slide{
position: relative;
}
.slide::after{
    position: absolute;
    content: "";
    width: 90%;
    height: 3px;
    left: 4%;
    bottom: 0;
    background-color: rgb(20, 209, 20);
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
    transform-origin: left;
}

.slide:hover::after{
    transform: scaleX(1);

}
.features:hover::after{
    transform: scaleX(1);

}

.features>img{
    /* rotate: -90deg; */
   transform: rotate(-90deg);
   width: 9px;
   height: 9px;
 
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

/* .navbar:hover{
    cursor: pointer;
} */

.navbar img:nth-child(1){
    height: 30px;
    width: 120px;
}

.nav-items>p{
     cursor: pointer;
}
.nav-items{
    font-size: 20px;
    display:flex ;
    gap: 50px;
}

.navbar > button,.btn{
  overflow:hidden;
  position: relative;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(20, 209, 20);
    font-size: 15px;
    display: flex;
    padding: 10px 20px;
    border: none;
    border: 0.1px solid black;
    z-index:1;
}

.btn::before{
  width: 500px;
  height: 500px;
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  content: "";
  opacity: 1;
  background-color: white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  transition:0.5s 0.5s;
  transform: translateX(-150px) translateY(60px);
}

.btn:hover::before{
  margin-right:30px;
  transform: translateX(-150px) translateY(-20px);
  opacity:1;
}

.btn:hover{
  cursor:pointer;
}
.firstSection{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
}

.maaBeti{
   display: flex;
   align-items:center;
   justify-content: space-evenly;
   background-image: url(images/MaaBeti.png);
   height: 550px;
   width: autof;
   border: 1px solid white;
   overflow: hidden;
   border-radius: 25px;
   background-size: cover;
}

.firstSection>p{
    padding-top: 6px;
    text-align: right;
    font-size: 14px;
    opacity: 0.8;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    width: 500px;
    padding-top: 40px;
    padding-left: 200px;
     
}

.btn{
    width: 180px;
}
.left>.leftmsg{
 color: white; 
 gap: 30px; 
}

.left>.leftmsg>h1{
    overflow-y: hidden;
    letter-spacing: -1px;
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    padding-bottom: 20px;
    
    
}

.right{
  overflow: hidden;
    position: relative;
    width: 900px;
    overflow: hidden;
   
}

.right img:nth-child(1){
    padding-top: 5px;
    width: 450px;
    animation: gm 0.5s ease-in-out;
}
@keyframes gm {
  0%{
    transform: translateY(50px);
  }
  
  100%{
    transform: translateY(0px);
  }
}

.right img:nth-child(2){
  position: absolute;
  left: 5px;
  top: 19px;
  width: 450px;
     animation: dil 1s ease-in-out;
}
@keyframes dil {
  0%{
   opacity: 0;
  }

  75%{
    opacity: 0;
  }
  
  100%{
   opacity: 1;
  }
}

.right img:nth-child(3){
    width: 200px;
    height: 100px;
    margin-left: 90px;
    animation: t 1.4s ease-in-out;
}
@keyframes t {
  0%{
    opacity: 0;
    transform: translateY(50px);
  }
  
  50%{
    opacity: 0;
  }

  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.right img:nth-child(4){
    width: 450px;
      animation: voice 1.9s ease-in-out;
}
@keyframes voice {
  0%{
    opacity: 0;
    transform: translateY(75px);
  }
  
  50%{
    opacity: 0;
  }

  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.right img:nth-child(5){
    width: 450px;
      animation: em 2.7s ease-in-out;
}
@keyframes em {
  0%{
    opacity: 0;
    transform: translateY(50px);
  }
  
  50%{
    opacity: 0;
  }

  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.right img:nth-child(6){
    position: absolute;
    width: 450px;
    top: 480px;
    left: 5px;
      animation: emoji 3s ease-in-out;
}
@keyframes emoji {
  0%{
   opacity: 0;
  }

  75%{
    opacity: 0;
  }
  
  100%{
   opacity: 1;
  }
}

.right img:nth-child(7){
    width: 450px;
     animation: trip 3.6s ease-in-out;
}
@keyframes trip {
  0%{
    opacity: 0;
    transform: translateY(75px);
  }
  
  50%{
    opacity: 0;
  }

  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.right img:nth-child(8){
    width: 450px;
}

.secondSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  overflow: hidden;
}

.secondSection img:nth-child(1){
  overflow-x: hidden;
  width: 80vw;

}

.secondSection >p{
font-size: 2.6em;
text-align: center;
letter-spacing: -1px;
line-height: 50px;
overflow: hidden;
font-weight: 500px;

}

.secondSection img:nth-child(3){
  overflow-x: hidden;
  width: 80vw;

}

.partone{
  display: flex;
  margin-top: 80px;
  justify-content: center;
  align-items: center;
  gap: 180px;
  
}

.leftpart>h1{
  overflow: hidden;
  font-size: 3.5em;
  line-height: 45px;
  letter-spacing: -5;
  padding-bottom: 20px;
}

.learnmore{
  position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 70px;
    padding-right: 47px;
    overflow: hidden;

}
.learnmore>span{

  padding-top: 18px;
  font-size: 20px;
text-decoration: underline  rgb(20, 209, 20);

}

.learnmore>img{
  height: 12px;
 
  margin-left: 10px;
  margin-top: 20px;
 margin-left: 10px;
padding-left: 40px;
  rotate: 180deg;

} 

.beach, .grpchat{
  position: relative;
}

.beach img:nth-child(2){
  position: absolute;
  width: 340px;
  top: 27%;
  right: -4%;
}

.grpchat img:nth-child(2){
  position: absolute;
  width: 340px;
  top: 20%;
  right: 30%;
  left: 10%;
}

.bgchange{
  background-color:#111b21;
  color: white;
}

.bgchange img:nth-child(1){
  padding-top: 45px;
  width:350px;
  height: 550px;
}

.footer{
  margin-top: 100px;
  color: white;
  background-color: #111b21;
  height: 530px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upper{
  width: 55%;
  height:50%;
  display: flex;
  justify-content: space-between;
  padding:30px 0;
  align-items: center;
 
}

hr{
  color: white;
  width: 55%;
}
.up1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 55%;
  align-items: center;
}

.up2,.up3,.up4,.up5{
  display: flex;
  flex-direction: column;
gap: 8px;
}

.up2>p{
  padding-bottom: 19px;
  font-size: 12px;
 
}
.up3>p{
    padding-bottom: 19px;
  font-size: 12px;
 
}
.up4>p{
    padding-bottom: 19px;
  font-size: 12px;
 
}
.up5>p{
    padding-bottom: 19px;
  font-size: 12px;
 
}

ul:hover{
  text-decoration: underline white;
}

.lower{
  margin-top: 50px;
 width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}


.lower>p{
  font-size: 15px;
align-items: center;
 display: flex;
 justify-content: center;
 
}
.social{
  display: flex;
  justify-content: space-evenly;
  width: 450px;
  margin-left: 1f0px;
}
.social>i{
  border: 1px solid white;
  padding: 15px;
  border-radius: 50%;
  gap:10px;
}

.socialMedia:hover{
  background-color:  rgb(20, 209, 20);
    transition: .5s 0.5s;
    color: black;
    border-color: #111b2100;
}

select{
  -webkit-appearance: none;
  color: white;
  background-color: #111b21;
  border:1px solid white;
  border-radius:40px ;
  padding: 16px 28px;

}
.navbar2{
  display: none;
}

/* Extra Small (XS) */
@media only screen and (max-width: 320px) {
  /* styles here */
}

/* Small (S) */
@media only screen and (min-width: 321px) and (max-width: 480px) {
  .container{
    width:100vw;
    height:100vh;
  }
 .navbar {
    display: none;
}
.navbar2{
  margin-top: 20px;
  display: inline;
  gap: 10px;
  display: flex;
  justify-content: space-around;
  
}
.btn2{
  background-color: rgb(20, 209, 20);
  border-radius: 90px;
  width:35px;
  height:31px;
 /* margin-top: 15px; */
  border: 1px solid black;

}
.navbar2>i{
  padding-top: 5px;
  height:80px;
  width: 50px;
}
.firstSection{
  width: 100%;
  height: 100%;
}
.wlogo2{
  /* padding-top: 15px; */
  width:55%;
  height:44%;
}

.firstSection {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    height:470px;
    width:310px;
}

  .right img:nth-child(4) , .right img:nth-child(5) ,.right img:nth-child(6) ,.right img:nth-child(7) {
        display: none;
  }

.maaBeti {
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    justify-content: space-around;
    background-position:center ;
    background-image: url(images/MaaBeti.png);
    height: 500px;
    width: 360px;
    border: 1px solid white;
    overflow: hidden;
    border-radius: 15px;
    background-size: cover;
}
.right {
    width: 100%;
    height:200px;
    overflow: hidden;
}
.right img:nth-child(1) {
    padding-top: 10px;
    width: 400px;
    animation: gm 0.5s ease-in-out;
}
.right img:nth-child(2) {
    position: absolute;
    left: 5px;
    top: 24px;
    width: 352px;
    animation: dil 1s ease-in-out;
}
.right img:nth-child(3) {
    width: 160px;
    height: 80px;
    margin-left: 90px;
    animation: t 1.4s ease-in-out;
}

.left{
  height: 300px;
    width: 300px;
    padding-top: 0px;
    padding-left: 0px;   
    border: none;
}
.leftmsg{
  width: 100%;
  height:100%;
}
.left>.leftmsg>p{
  margin-top: 0px;
  width: 80%;
  padding-top: 0px;
}
.left>p{
  width: 50%;
}
.left>.leftmsg>h1{
    font-size: 50px;
    font-weight: 30;
    line-height: 40px;  
    letter-spacing: 0px;  
}
.left>.leftmsg {
    color: white;
}

.btn {
    width: 180px;
    margin-bottom: 20px;
    width: 140px;
    gap: 8px;
}
.firstSection>p {
    padding-top: 3px;
    text-align: left;
    font-size: 12px;
    opacity: 0.9;
}
.secondSection img:nth-child(1){
 width: 700px;
 height: 300px;
 html:not(.no-js) [data-aos^=fade][data-aos^=fade] {
    opacity: 0;
    transition-property: opacity,-webkit-transform;
    transition-property: opacity,transform;
    transition-property: opacity,transform,-webkit-transform;
}
}
}

/* Medium (M) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* styles here */
}

/* Large (L) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  /* styles here */
}

/* Extra Large (XL) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  /* styles here */
}

/* Extra Extra Large (XXL) */
@media only screen and (min-width: 1201px) {
  /* styles here */
}


/* 1. Extra Small (XS): 320px (e.g., older smartphones)
2. Small (S): 480px (e.g., smaller smartphones)
3. Medium (M): 768px (e.g., tablets)
4. Large (L): 992px (e.g., laptops)
5. Extra Large (XL): 1200px (e.g., large desktop screens) */
